<p-sidebar [(visible)]="sidebarVisible">
  <div class="filter-actions">
    <p-button
      icon="pi pi-filter-fill"
      [raised]="true"
      [rounded]="true"
      [outlined]="!hasActiveFilters"
      severity="success"
      (onClick)="applyFilters()"
    ></p-button>
    <p-button
      icon="pi pi-filter-slash"
      [raised]="true"
      [rounded]="true"
      (onClick)="resetFilters()"
      severity="danger"
    ></p-button>
  </div>

  <div class="filter-inputs">
    <div class="p-field">
      <label>Ejercicio</label>
      <input
        pInputText
        [(ngModel)]="filters.exercise"
        placeholder="Filtrar por ejercicio"
      />
    </div>

    <div class="p-field">
      <label>Grupo Musuclar</label>
      <p-dropdown
        [options]="muscularGroupsOptions"
        [(ngModel)]="filters.muscularGroup"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label>Tipo de Máquina</label>
      <p-dropdown
        [options]="machineTypeOptions"
        [(ngModel)]="filters.machineType"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label>Realizado</label>
      <p-dropdown
        [options]="everDoneOptions"
        [(ngModel)]="filters.everDone"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label>Última Sesión</label>
      <p-dropdown
        [options]="lastSeasonOptions"
        [(ngModel)]="filters.lastSeasonSort"
        optionLabel="label"
        optionValue="value"
        placeholder="Ordenar"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label>Peso</label>
      <p-dropdown
        [options]="weightOptions"
        [(ngModel)]="filters.weightSort"
        optionLabel="label"
        optionValue="value"
        placeholder="Ordenar"
      ></p-dropdown>
    </div>

    <div class="p-field">
      <label>Feedback</label>
      <p-dropdown
        [options]="feedbackOptions"
        [(ngModel)]="filters.feedback"
        optionLabel="label"
        optionValue="value"
        placeholder="Seleccionar"
      ></p-dropdown>
    </div>
  </div>
</p-sidebar>

<p-button
  (onClick)="sidebarVisible = true"
  [raised]="true"
  [outlined]="!hasActiveFilters"
  [rounded]="true"
  icon="pi pi-filter"
/>
