<form [formGroup]="machineForm" (ngSubmit)="onSubmit()">
  <div class="card-container">
    <p-card
      class="card"
      [style]="
        machine.machineType === 'black'
          ? { background: '#d8d6d5', color: '#000000' }
          : { color: '#000000' }
      "
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="machine.image.primary" />
      </ng-template>
      <ng-template pTemplate="title">{{
        machine.exercise | uppercase
      }}</ng-template>

      <p>Última sesión: {{ machine.machineRutineData.lastSeason }}</p>

      <div formGroupName="weight">
        <p>
          <label for="mainWeight">Peso principal:</label>
          <p-dropdown
            formControlName="mainWeight"
            [options]="
              machine.machineType === 'white'
                ? mainWeightWitheOptions
                : mainWeightOptions
            "
          ></p-dropdown>
        </p>

        <p *ngIf="!machine.machineType || machine.machineType !== 'white'">
          <label for="extraWeight">Peso adicional:</label>
          <p-dropdown
            formControlName="extraWeight"
            [options]="extraWeightOptions"
          ></p-dropdown>
        </p>
      </div>

      <p>
        <label for="restTime">Series:</label>
        <p-dropdown
          formControlName="series"
          [options]="seriesOptions"
        ></p-dropdown>
      </p>

      <p>
        <label for="restTime">Repeticiones:</label>
        <p-dropdown
          formControlName="repetitions"
          [options]="repetitionOptions"
        ></p-dropdown>
      </p>

      <p>
        <label for="restTime">Descanso:</label>
        <p-dropdown
          formControlName="restTime"
          [options]="restOptions"
        ></p-dropdown>
      </p>

      <p>
        <label for="feedback">Feedback:</label>
        <p-dropdown
          formControlName="feedback"
          [options]="feedbackOptions"
        ></p-dropdown>
      </p>

      <ng-template pTemplate="footer">
        <div class="footer-container">
          <p-button
            label="Volver"
            [routerLink]="['/machines/list']"
            class="w-full"
            styleClass="w-full"
          />
          <p-button
            label="Actualizar"
            type="submit"
            [disabled]="machineForm.invalid"
            class="w-full"
            styleClass="w-full"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</form>
