<div class="card-container">
  <ng-container *ngIf="machines.length > 0; else noData">
    <p-card
      *ngFor="let machine of machines"
      class="card"
      [style]="
        machine.machineType === 'black'
          ? { background: '#d8d6d5', color: '#000000' }
          : { color: '#000000' }
      "
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="machine.image" />
      </ng-template>
      <ng-template pTemplate="title">{{
        machine.exercise | uppercase
      }}</ng-template>
      <ng-template [ngIf]="machine.everDone" [ngIfElse]="noRutine">
        <p>Última sesión: {{ machine.machineRutineData.lastSeason }}</p>
        <p>
          Peso:
          {{
            machine.machineRutineData.weight.mainWeight +
              machine.machineRutineData.weight.extraWeight
          }}
          Kg
        </p>
        <p>Series: {{ machine.machineRutineData.series }}</p>
        <p>Repetición: {{ machine.machineRutineData.repetitions }}</p>
        <p>Descanso: {{ machine.machineRutineData.restTime }}</p>
        <p>Feedback: {{ machine.machineRutineData.feedback }}</p>
        <ng-template pTemplate="footer">
          <div class="footer-container">
            <p-button
              label="Actualizar rutina"
              [routerLink]="['/machines/edit', machine.id]"
              class="w-full"
              styleClass="w-full"
            />
          </div>
        </ng-template>
      </ng-template>

      <ng-template #noRutine>
        <p>Maquina aun sin rutina</p>
        <ng-template pTemplate="footer">
          <div class="footer-container">
            <p-button
              label="Iniciar rutina"
              [routerLink]="['/machines/edit', machine.id]"
              class="w-full"
              styleClass="w-full"
            />
          </div>
        </ng-template>
      </ng-template>
    </p-card>
  </ng-container>
  <ng-template #noData>
    <p>Sin datos</p>
  </ng-template>
</div>
